body{
    background-image: url('enkan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    padding: 100%;
}

.Mondstadt{
    position: absolute;
    width: 30px;
    height: 80vh;
    margin: 5px;

}